<div *ngIf="products" class="row">
  <div *ngFor="let product of products" class="col-lg-3 col-md-6 item-entry mb-4">
    <a [routerLink]="['/shop', product.id]" class="product-item md-height bg-gray d-block">
      <img [src]="product.images[0].src" alt="Image" class="img-fluid">
    </a>
    <h2 class="item-title"><a [routerLink]="['/shop', product.id]">{{product.name}}</a></h2>
    <strong class="item-price">{{product.price | currency}}</strong>
  </div>
</div>

<div *ngIf="!products">
  {{loadingMessage}}
  <ngx-spinner></ngx-spinner>
</div>
